@page "/editboats/{id}"
@attribute [Authorize]
@using SailView.Services;
@using SailView.Data.Models;
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@inject BoatService boatService;
@inject NavigationManager NavigationManager;

<PageTitle> Edit Boat </PageTitle>

<br />

<h3>Edit Boat</h3>

<EditForm Model=@boat OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator/>
        <MudCard>
            <MudCardContent>
                <MudTd DataLabel="Id">Boat ID: @boat.Id</MudTd>
                <MudTextField Label="Boat Name" @bind-Value="@boat.BoatName" Variant="Variant.Text"></MudTextField>
                <MudTextField Label="Sail Number" @bind-Value="@boat.SailNumber" Variant="Variant.Text"></MudTextField>
                <MudSelect @bind-Value="@boat.BoatType" Label="Boat Type" Variant="Variant.Text">
                    <MudSelectItem Value="@("1720")">1720</MudSelectItem>
                    <MudSelectItem Value="@("Sloop")">Sloop</MudSelectItem>
                 </MudSelect>
                 <MudSpacer />
                 <br/>
                 <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Secondary" ButtonType="ButtonType.Submit">Update</MudButton>
                 <MudButton Variant="Variant.Filled" Color="Color.Default" Href="Boats">Cancel</MudButton>
            </MudCardContent>
        </MudCard>
</EditForm>

@code {

    [Parameter]
    public string Id { get; set; }
    BoatDetails boat = new BoatDetails();

    protected async override Task OnInitializedAsync()
    {
        boat = boatService.GetBoatById(int.Parse(Id));
    }
    public void HandleSubmit(EditContext editContext)
    {
        var newBoat = (BoatDetails)editContext.Model;
        boatService.UpdateBoat(newBoat);
        NavigationManager.NavigateTo("Boats");
    }

    /*
    [Parameter]
    public string Id { get; set; }
    BoatDetails boat = new BoatDetails();

    protected async override Task OnInitializedAsync()
        {
        boat = boatService.GetBoatById(int.Parse(Id));
    }
    public void HandleSubmit()
        {
        boatService.UpdateBoatById(int.Parse(Id));
        NavigationManager.NavigateTo("Boats");
        }
    */

}
